* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
header {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-family: 'Spirax', sans-serif;

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    color: white;
    text-decoration: none;
    margin-right: 2rem;
    margin-left: 2rem;
    text-align: center;
    font-size: 2.5rem;
  }
}

/* Main */
section.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 2rem;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.729);
  font-family: 'Poiret One', sans-serif;
  background-size: cover;
  height: 100vh;
}

section.content h2 {
  color: darkred;
  font-family: 'Spirax', sans-serif;
  font-size: 6rem;
  margin-top: 8rem;
}

section.content p {
  background-color: rgba(139, 0, 0, 0.8);
  padding: 1.2rem;
  width: 50%;
}

section.content p.first-paragraph {
  margin-right: 8rem;
}

section.content p.second-paragraph {
  margin-left: 8rem;
}

section.content ul {
  list-style: none;
  padding: 1.2rem;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 50%;

  li {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
  }
}

section#hot {
  background-image: url(../assets/hot.jpg);
  border-bottom: 1rem solid darkred;
}
section#juicy {
  background-image: url(../assets/juicy.jpg);
  border-bottom: 1rem solid darkred;
}
section#cosy {
  background-image: url(../assets/cosy.jpg);
}
