* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: 'Poiret One', sans-serif;
  background-color: darkred;
  color: rgba(255, 255, 255, 0.729);
}

/* Header */
header {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  position: fixed;
  width: 100%;
  font-family: 'Spirax', sans-serif;
  z-index: 1;

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    color: white;
    text-decoration: none;
    margin: 0 2rem;
    text-align: center;
    font-size: 2.5rem;
  }
}

/* Main */
section.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 1rem;
  font-size: 1.3rem;
  background-size: cover;
  height: 100dvh;
}

section.content:not(:last-child) {
  margin-bottom: 1rem;
}

section.content h1 {
  color: darkred;
  font-family: 'Spirax', sans-serif;
  font-size: 6rem;
  margin-top: 6rem;
}

section.content p {
  background-color: rgba(139, 0, 0, 0.8);
  padding: 1.2rem;
  width: 50%;
  position: relative;
}

section.content p.first-paragraph {
  right: 4rem;
}

section.content p.second-paragraph {
  left: 4rem;
}

section.content ul {
  list-style: none;
  padding: 1.2rem 3.2rem;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 50%;

  li {
    display: flex;
    justify-content: space-between;
  }
}

section#hot {
  background-image: url(../assets/hot.jpg);
}
section#juicy {
  background-image: url(../assets/juicy.jpg);
}
section#cosy {
  background-image: url(../assets/cosy.jpg);
}

/* Media */
@media screen and (max-width: 768px) {
  header a {
    margin: 0 0.8rem;
    font-size: 1.5rem;
  }

  section.content {
    font-size: 1.1rem;
    justify-content: center;
    gap: 1.2rem;
    background-position: center;
  }

  section.content h1 {
    font-size: 4.5rem;
    margin-top: 0;
  }

  section.content p {
    padding: 1rem;
    width: 80%;
    position: static;
  }

  section.content ul {
    padding: 1rem 0.8rem;
    width: 80%;
  }

  section.content p.second-paragraph {
    display: none;
  }
}
